body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    background: green;
    width: 50%;
    margin: auto;
}

header h1{
    text-decoration: none;
    color: whitesmoke;
    font-size:20px;
}

.sidebar{
    width: 45%;
    border: 1px dashed black;
}

.sidebar-inside{
    user-select: none;
    cursor: pointer;
    background: green;
    color: whitesmoke;
    width: 100%;
    list-style-type: georgian;
}

.sidebar-li{
    margin: 30px;
}

.recipes{
    width: 52%;
    border: 1px dashed black;
    font-size: 18px;
    float: right;
    margin: 10px;
}

.recipes-name{
margin: 0;
}

.recipes-about{
    padding-top: 30px;
    text-align: center;
}

.inline{
    display: inline-flex;
}

.components-parent{
    width: 50%;
    margin: auto;
}

.h-line{
    width:35%;
    border-bottom:2px solid #000;
}